@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&family=Song+Myung&display=swap');

.menubar {
    position: fixed;
    width: 100%;
    height: 5vh;
    left: 0px;
    top: 0px;
    z-index: 1;
  }
  
  #progressBar {
    background-color: black;
  }
  
  #progress {
    width: 0%;
    height: 100%;
    background-color: #4f77cc;
  }
  
  .progressBlock {
    position: absolute;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: transparent;
    font-size: 1.1rem;
    border: 0.5px solid gray;
    color: white;
    font-style: bold;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  body {
    display: flex;
    flex-direction: column;
    background-color: #e4e3e3;
    font-family: 'Noto Serif KR', serif;
    
  }
  
  #top_container {
    width: 100%;
    margin-top: 5vh;
  }
  
  #content_container {
    margin-left: 20vw;
    margin-right: 20vw;
    width: 60vw;
  }
  
  .pages {
    margin-top: 15vh;
    border: 1px solid rgba(0, 0, 0, 0);
  }
  
  .menu_container {
    margin-top: 15vh;
  }
  
  .menu_text {
    font-size: 2rem;
    font-weight: bold;
  }
  
  hr {
    margin-top: 15px;
  }
  
  #subject {
    font-size: 2.5rem;
  }
  
  #subject_desc {
    font-size: 1.5rem;
    color: #808080;
    margin-top: 10px;
  }
  
  .flex_container {
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  #goal {
    color: #4f77cc;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: center;
    margin-top: 15vh;
  }
  
  .letters_container {
    margin-top: 5vh;
  }
  
  .letters {
    font-size: 1.3rem;
    line-height: 2.3rem;
    color: black;
  }
  
  .title_container {
    margin-top: 15vh;
  }
  
  .title_text {
    font-size: 2.2rem;
    color: #4f77cc;
    font-weight: bolder;
  }
  
  .subtitle_container {
    margin-top: 15vh;
    text-align: center;
  }
  
  .subtitle_text {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
  }
  
  .category_row_container {
    display: flex;
    justify-content: space-between;
  }
  
  .category {
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 10px gray;
    font-size: 1.1rem;
    font-weight: bold;
    width: 25%;
    margin: 15px;
    padding: 15px 5px;
    background-color: #fffefc;
    opacity: 0.9;
  }
  
  .image_container {
    display: absolute;
    left: 0;
    margin-top: 6vh;
    width: 100vw;
    height: 500px;
    background-color: #fffefc;
    margin-left: -20vw;
  }
  
  @media screen and (max-width: 960px) {
    .page_box {
      margin-top: 10vh;
    }
    .menu_container {
      margin-top: 10vh;
    }
    .menu_text {
      font-size: 1.4rem;
    }
    .flex_container {
      margin-top: 10vh;
    }
    #subject {
      font-size: 2rem;
    }
    #subject_desc {
      font-size: 1.2rem;
    }
    #goal {
      font-size: 1.35rem;
      margin-top: 10vh;
    }
    .letters_container {
      margin-top: 3vh;
    }
    .letters {
      font-size: 1.1rem;
      line-height: 2rem;
    }
    .title_container {
      margin-top: 10vh;
    }
    .title_text {
      font-size: 1.6rem;
    }
    .subtitle_container {
      margin-top: 10vh;
    }
    .subtitle_text {
      font-size: 1.3rem;
    }
    /* 이거 어떻게 하지...? */
    .category {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 0.1rem;
      margin: 2px;
      padding: 2px 3px;
    }
  
    .menubar {
      height: 1vh;
    }
    .progressBlock {
      display: none;
    }
    #content_container {
      margin-left: 10vw;
      margin-right: 10vw;
      width: 80vw;
    }
    .image_container {
      margin-top: 3vh;
      margin-left: -10vw;
    }
  }
  
  @media screen and (max-width: 500px) {
    .page_box {
      margin-top: 7vh;
    }
    .menu_container {
      margin-top: 7vh;
    }
    .menu_text {
      font-size: 1.3rem;
    }
    .flex_container {
      margin-top: 7vh;
    }
    #subject {
      font-size: 1.9rem;
    }
    #subject_desc {
      font-size: 1.1rem;
    }
    #goal {
      font-size: 1.2rem;
      margin-top: 7vh;
    }
    .letters_container {
      margin-top: 3vh;
    }
    .letters {
      font-size: 1rem;
      line-height: 1.9rem;
    }
    .title_container {
      margin-top: 7vh;
    }
    .title_text {
      font-size: 1.6rem;
    }
    .subtitle_container {
      margin-top: 7vh;
    }
    .subtitle_text {
      font-size: 1.2rem;
    }
    /* 이거 어떻게 하지...? */
    .category {
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 0.1rem;
      margin: 2px;
      padding: 2px 3px;
    }
  
    .menubar {
      height: 1vh;
    }
    .progressBlock {
      display: none;
    }
    #content_container {
      margin-left: 5vw;
      margin-right: 5vw;
      width: 90vw;
    }
    .image_container {
      margin-left: -5vw;
    }
  }

/* 한빛 - 가운데 정렬 진짜 구리게 한 부분이 많아서.. 웹모바일 호환 수정하면서 거기도 손볼게!*/
  html {
      width: 100%;
      height: 100%;
  }
  .container {
      width: 100%;
      height: 100%;
      margin: 0;
      font-family: 'Noto Serif KR', serif;
      color: #ffffff;
      background-color: #232222;
  }

  /* .header {
      position: fixed;
      top: 0;
      z-index: 1;
      width: 100%;
  }

  .progress-container {
      width: 100%;
      height: 50px;
      background-color: #232222;
      opacity: 0.8;
  }
    
  .progress-bar {
      width: 0%;
      height: 50px;
      color: #3C74D4;
      transition: all .3s ease;
      opacity: 0.8;
      z-index: 1;
  }   */

  .title-casette {
    text-align: center;
    width: 100%;
    margin-bottom: 20%;
  }

  .title-img {
    vertical-align: middle;
    width: 640px;
    height: 380px;
    border-radius: 3%;
  }

  .txt {
      font-size: 1.25rem;
      padding-top: 100px;
      padding-bottom: 100px;
      width: 800px;
      margin: 0 auto;
      margin-bottom: 200px;
      line-height: 300%;
  }

  .txt1{
      font-size: 1.25rem;
      padding-top: 100px;
      padding-bottom: 100px;
      width: 800px;
      margin: 0 auto;
      margin-bottom: 200px;
      line-height: 300%;
  }

  .txt1-title{
      text-align: center;
      font-size: 2.18rem;
      font-weight: 700;
  }

  .txt2{
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/sexual_violence.png');
      background-size: cover;  
      height: 700px;  
  }

  .txt2 p {
      margin: 0 auto;
      padding-top: 200px;
      font-size: 1.25rem;
      width: 800px;
      line-height: 300%;
  }

  .txt4 {
      background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/chatroom.png');
      background-size: cover;
      height: 700px;
  }

  .txt4 p {
      margin: 0 auto;
      padding-top: 100px;
      font-size: 1.25rem;
      width: 800px;
      line-height: 300%;
  }

  .space {
      height: 400px;
      background-color: #232222;
  }

  .txt5 {
      background-color: #FFFEFC;
      height: 700px;
  }

  .txt5 p {
      color: #000000;
      margin: 0 auto;
      padding-top: 100px;
      font-size: 1.25rem;
      width: 800px;
      line-height: 300%;
  }

  .txt5-title{
      text-align: center;
      font-size: 2.18rem;
      font-weight: 700;
  }

  .tape4you {
      width: 100%;
      background-color: #E4E3E3;
      text-align: center;
      padding-bottom: 300px;
  }

  #tape-hands {
      margin-top: 100px;
      text-align: center;
      width: 25%;
  }

  .tape-title {
      font-size: 1.88rem;
      color: #3C74D4;
      font-weight: 600;
      text-align: center;
      margin-top: 50px;
  }

  .description {
      color: black;
      line-height: 260%;
      font-size: 1.12rem;
      margin-top: 50px;
  }

  .election-title {
      margin-top: 150px;
      font-family: 'Noto Sans KR', sans-serif;
      font-size: 1.56rem;
      color: black;
      font-weight: 600;
      margin-bottom: 2px;
  }

  .election-hr {
      width: 28rem; 
      color: black;
      margin: 0 auto;
      margin-bottom: 100px;
  }

  .question-box {
      font-size: 1.12rem;
      display: inline;
      float: right;
      margin-right: 9.37rem;
      padding: 5px;
      width: 32.8rem;
      height: 3rem;
      background-color: #ffffff;
      border-radius: 1rem;
      border: solid 0.12rem #000000;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
  }
  .question {
      display: inline;
      color: black;
      font-family: 'Noto Sans KR', sans-serif;
      text-align: center;
      vertical-align: middle;
  }

  .profile {
      margin-left: 15%;
      margin-top: 200px;
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 70%;
      overflow: hidden;
  }

  .lee {
      width: 7.5rem;
  }

  .yoon {
      width: 7.5rem;
  }

  .sim {
      width: 7.5rem;
  }

  .answer {
      color: black;
      font-family: 'Noto Sans KR', sans-serif;
      text-align: left;
  }

  .answer-box1 {
      display: inline-block;
      text-align: left;
      width: 40%;
      height: 9.37rem;
      background-color: #ffffff;
      border-radius: 15px;
      margin-top: -50px;
      margin-left: -110px;
      padding-top: 30px;
      padding-left: 50px;
      padding-bottom: 30px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
      border-style: solid;
      border-width: 2px;
      border-color: #045FE7;
  }

  .answer-box2 {
      display: inline-block;
      text-align: left;
      width: 40%;
      height: 9.37rem;
      background-color: #ffffff;
      border-radius: 15px;
      margin-top: -50px;
      margin-left: -110px;
      padding-top: 30px;
      padding-left: 50px;
      padding-bottom: 30px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
      border-style: solid;
      border-width: 2px;
      border-color: #E23939;
  }

  .answer-box3 {
      display: inline-block;
      text-align: left;
      width: 40%;
      height: 9.37rem;
      background-color: #ffffff;
      border-radius: 15px;
      margin-top: -50px;
      margin-left: -110px;
      padding-top: 30px;
      padding-left: 50px;
      padding-bottom: 30px;
      box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
      border-style: solid;
      border-width: 2px;
      border-color: #E1A500;
  }

  footer {
      background-color: #FFFEFC;
      text-align: center;
      height: 37.5rem;
  }

  .projectname {
      margin: 0 auto;
      padding-top: 100px;
      margin-bottom: 30px;
  }

  .sea-waves {
      width: 3.75rem;
      margin-right: 8px;
      padding-top: 5px;
  }

  .surfer {
      display: inline;
      font-size: 2.19rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      color: #000000;
      padding-top: -5px;
  }

  .about-us {
      margin-left: 30%;
  }

  .datateam {
      color: black;
      font-family: 'Noto Sans KR', sans-serif;
      line-height: 100%;
      float: left;
      box-sizing: border-box;
      background-color: #FFFEFC;
  }

  .coverteam {
      color: black;
      font-family: 'Noto Sans KR', sans-serif;
      line-height: 100%;
      float: left;
      margin-left: 5%;
      box-sizing: border-box;
      background-color: #FFFEFC;
  }

  .developmentteam {
      color: black;
      font-family: 'Noto Sans KR', sans-serif;
      line-height: 100%;
      float: left;
      margin-left: 5%;
      box-sizing: border-box;
      background-color: #FFFEFC;
  }

  .team-name {
      font-weight: bold;
      font-size: 1.25rem;
  }

  .sns {
      text-align: center;
  }

  .copyright {
    clear: left;
    font-size: 0.7rem;
    margin-top: 21rem;
    text-align: center; 
    color:black; 
    font-family: 'Noto Sans KR', sans-serif;

  }

/* media query 수정중... */
@media screen and (max-width: 960px) {

  .title-casette {
    text-align: center;
  }

  .title-img {
    vertical-align: middle;
    width: 480px;
    height: 285px;
    border-radius: 3%;
  }

  .txt {
    font-size: 1.1rem;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 200px;
    line-height: 300%;
  }

  .txt1{
    font-size: 1.1rem;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
    line-height: 300%;
}

  .txt1-title{
      text-align: center;
      font-size: 35px;
      font-weight: 700;
  }

  .txt2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/sexual_violence.png');
    background-size: cover;  
    height: 700px;  
  }

  .txt2 p {
    margin: 0 auto;
    padding-top: 200px;
    font-size: 1.1rem;
    width: 800px;
    line-height: 300%;
  }

  .txt4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/chatroom.png');
    background-size: cover;
    height: 700px;
  }

  .txt4 p {
      margin: 0 auto;
      padding-top: 100px;
      font-size: 1.1rem;
      width: 800px;
      line-height: 300%;
  }

  .space {
      height: 400px;
      background-color: #232222;
  }

  .txt5 {
      background-color: #FFFEFC;
      height: 700px;
  }

  .txt5 p {
      color: #000000;
      margin: 0 auto;
      padding-top: 100px;
      font-size: 1.1rem;
      width: 800px;
      line-height: 300%;
  }

  .txt5-title{
      text-align: center;
      font-size: 2.18rem;
      font-weight: 700;
  }

  .tape4you {
    width: 100%;
    background-color: #E4E3E3;
    text-align: center;
    padding-bottom: 300px;
  }

  #tape-hands {
    margin-top: 100px;
    text-align: center;
    width: 25%;
  }

  .tape-title {
    font-size: 1.5rem;
    color: #3C74D4;
    font-weight: 600;
    text-align: center;
    margin-top: 50px;
  }

.description {
    color: black;
    line-height: 260%;
    font-size: 1rem;
    margin-top: 50px;
}

.election-title {
    margin-top: 150px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1.3rem;
    color: black;
    font-weight: 600;
    margin-bottom: 2px;
}

.election-hr {
    width: 28rem; 
    color: black;
    margin: 0 auto;
    margin-bottom: 100px;
}

.question-box {
    font-size: 1.12rem;
    display: inline;
    float: right;
    margin: 0 auto;
    padding: 5px;
    width: 32.8rem;
    height: 2.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    border: solid 0.12rem #000000;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
}
.question {
    display: inline;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: center;
    vertical-align: middle;
}

.profile {
    margin-left: 15%;
    margin-top: 200px;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 70%;
    overflow: hidden;
}

.lee {
    width: 7.5rem;
}

.yoon {
    width: 7.5rem;
}

.sim {
    width: 7.5rem;
}

.answer {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    text-align: left;
}

.answer-box1 {
    display: inline-block;
    text-align: left;
    width: 40%;
    height: 9.37rem;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: -50px;
    margin-left: -110px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 2px;
    border-color: #045FE7;
}

.answer-box2 {
    display: inline-block;
    text-align: left;
    width: 40%;
    height: 9.37rem;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: -50px;
    margin-left: -110px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 2px;
    border-color: #E23939;
}

.answer-box3 {
    display: inline-block;
    text-align: left;
    width: 40%;
    height: 9.37rem;
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: -50px;
    margin-left: -110px;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
    border-style: solid;
    border-width: 2px;
    border-color: #E1A500;
}

footer {
    background-color: #FFFEFC;
    text-align: center;
    height: 37.5rem;
}

.projectname {
    margin: 0 auto;
    padding-top: 100px;
    margin-bottom: 30px;
}

.sea-waves {
    width: 3.75rem;
    margin-right: 8px;
    padding-top: 5px;
}

.surfer {
    display: inline;
    font-size: 2.19rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #000000;
    padding-top: -5px;
}

.about-us {
    margin-left: 30%;
}

.datateam {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 100%;
    float: left;
    box-sizing: border-box;
    background-color: #FFFEFC;
}

.coverteam {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 100%;
    float: left;
    margin-left: 5%;
    box-sizing: border-box;
    background-color: #FFFEFC;
}

.developmentteam {
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 100%;
    float: left;
    margin-left: 5%;
    box-sizing: border-box;
    background-color: #FFFEFC;
}

.team-name {
    font-weight: bold;
    font-size: 1.25rem;
}

.sns {
    text-align: center;
}

.copyright {
  clear: left;
  font-size: 0.7rem;
  margin-top: 21rem;
  text-align: center; 
  color:black; 
  font-family: 'Noto Sans KR', sans-serif;

}

}

@media screen and (max-width: 500px) {
  .title-casette {
    text-align: center;
  }

  .title-img {
    vertical-align: middle;
    width: 384px;
    height: 228px;
    border-radius: 3%;
  }

  .txt {
    font-size: 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 200px;
    line-height: 300%;
  }

  .txt1{
    font-size: 1rem;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 200px;
    line-height: 300%;
  }

  .txt1-title{
      text-align: center;
      font-size: 35px;
      font-weight: 700;
  }

  .txt2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/sexual_violence.png');
    background-size: cover;  
    height: 700px;  
  }

  .txt2 p {
    margin: 0 auto;
    padding-top: 200px;
    font-size: 1rem;
    width: 800px;
    line-height: 300%;
  }

  .txt4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('images/chatroom.png');
    background-size: cover;
    height: 700px;
  }

  .txt4 p {
      margin: 0 auto;
      padding-top: 100px;
      font-size: 1rem;
      width: 800px;
      line-height: 300%;
  }

  .space {
      height: 400px;
      background-color: #232222;
  }

  .txt5 {
      background-color: #FFFEFC;
      height: 700px;
  }

  .txt5 p {
      color: #000000;
      margin: 0 auto;
      padding-top: 100px;
      font-size: 1rem;
      width: 800px;
      line-height: 300%;
  }

  .txt5-title{
      text-align: center;
      font-size: 2.18rem;
      font-weight: 700;
  }

  .question-box {
    font-size: 1.12rem;
    display: inline;
    float: right;
    padding: 5px;
    width: 25rem;
    height: 2.5rem;
    background-color: #ffffff;
    border-radius: 1rem;
    border: solid 0.12rem #000000;
    box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.1);
  }

}